In [2]:
import pandas as pd
import numpy as np
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [3]:
ser = pd.DataFrame(ser)

In [4]:

ser

    0
a   0
b   1
c   2
d   3
e   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

cau3:

In [6]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 =  pd.Series(np.arange(26))

In [7]:
ser = pd.DataFrame([ser1,ser2])
ser

  0  1  2  3  4  5  6  7  8  9   ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  d  e  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]