cau 1:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')

cursor = conn.cursor()
cursor.execute('select sqlite_version()')
print(cursor.fetchall())
conn.close()

cau 2:

In [ ]:
import sqlite3
#viết chương trình để tạo kết nối đến cơ sở dữ liueej sqlite tới cơ sở dữ liệu nằm trong bộ nhớ
conn = sqlite3.connect(':memory:')
#tạo một đối tượng con trỏ từ đối tượng kết nối
conn.close()

cau 3:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase2.db')

cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS USERS(
               ID INTEGER PRIMARY KEY,
               "Tên" TEXT,
               "Tuổi" INTEGER 
               )
               '''
)
conn.close()

cau 4:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase2.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM USERS")
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

cau 5:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase3.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS USERS(
                ID INTEGER PRIMARY KEY,
                "Tên" TEXT,
                "Tuổi" INTEGER 
                )
                '''
    )
cursor.execute('''INSERT INTO USERS 
                VALUES (2, "Nguyễn Văn B", 20)''')
conn.commit()

cursor.execute("SELECT * FROM USERS")   
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

cau 6:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase3.db')
cursor = conn.cursor()
cursor.execute("select count(ID)from USERS")
rows = cursor.fetchall()[0]
for row in rows:
    print(row)
conn.close()

cau 7:

In [ ]:
import sqlite3
#Viết chương trình Python để cập nhất tất cả các giá trị của một cột cụ thể trong bảng SQLite 'mydatevasse.db'  
conn = sqlite3.connect('mydatabase3.db')
cursor = conn.cursor()
cursor.execute("UPDATE USERS SET Tuổi = 40")
conn.commit()
cursor.execute("SELECT * FROM USERS")
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

cau 8:

In [ ]:
import sqlite3
conn = sqlite3.connect('mydatabase3.db')
cursor = conn.cursor()
cursor.execute("DELETE FROM USERS WHERE ID = 1")
conn.commit()
cursor.execute("select * from USERS")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

cau 9:

In [ ]:
import pandas as pd
a = pd.read_csv(r"G:\bai_tap\chuong_5\region.csv")
print(a)